In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# futures
# 2020/07/17, 9:00:00
# 2020/11/09, 15:45:00

# kospi200, kospi, kosdaq
# 2020/07/16, 15:30:00
# 2020/11/09, 15:30:00

In [3]:
dataF = pd.read_csv('data-files/futuresD.csv')
dataF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30476 entries, 0 to 30475
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        30476 non-null  object
 1   time        30476 non-null  object
 2   f_open      30476 non-null  float64
 3   f_high      30476 non-null  float64
 4   f_low       30476 non-null  float64
 5   f_close     30476 non-null  float64
 6   f_vol       30476 non-null  float64
 7   k200_open   30476 non-null  float64
 8   k200_high   30476 non-null  float64
 9   k200_low    30476 non-null  float64
 10  k200_close  30476 non-null  float64
 11  k200_vol    30476 non-null  float64
 12  k_open      30476 non-null  float64
 13  k_high      30476 non-null  float64
 14  k_low       30476 non-null  float64
 15  k_close     30476 non-null  float64
 16  k_vol       30476 non-null  float64
 17  d_open      30476 non-null  float64
 18  d_high      30476 non-null  float64
 19  d_low       30476 non-null  float64
 20  d_close     30476 non-null  float64
 21  d_vol       30476 non-null  float64
dtypes: float64(20), object(2)
memory usage: 5.1+ MB

In [4]:
# moving avg
# movings = [5, 10, 20]
# for moving in movings:
#     dataF[f'f_close_ma{moving}'] = dataF['f_close'].rolling(moving).mean()
#     dataF[f'f_vol_ma{moving}'] = dataF['f_vol'].rolling(moving).mean()

# dataF.info()

In [5]:
# price, volume ratio

dataF['open_lastclose_ratio'] = np.zeros(len(dataF))
dataF.loc[1:, 'open_lastclose_ratio'] = \
    (dataF['f_open'][1:].values - dataF['f_close'][:-1].values) / dataF['f_close'][:-1].values

dataF['high_close_ratio'] = \
    (dataF['f_high'].values - dataF['f_close'].values) / dataF['f_close'].values
dataF['low_close_ratio'] = \
    (dataF['f_low'].values - dataF['f_close'].values) / dataF['f_close'].values

dataF['close_lastclose_ratio'] = np.zeros(len(dataF))
dataF.loc[1:, 'close_lastclose_ratio'] = \
    (dataF['f_close'][1:].values - dataF['f_close'][:-1].values) / dataF['f_close'][:-1].values

dataF['vol_lastvol_ratio'] = np.zeros(len(dataF))
dataF.loc[1:, 'vol_lastvol_ratio'] = \
    (dataF['f_vol'][1:].values - dataF['f_vol'][:-1].values) / \
    dataF['f_vol'][:-1].replace(to_replace=0, method='ffill') \
        .replace(to_replace=0, method='bfill').values

movings = [5, 10, 20]
for moving in movings:
    dataF[f'f_close_ma{moving}'] = dataF['f_close'].rolling(moving).mean()
    dataF[f'f_vol_ma{moving}'] = dataF['f_vol'].rolling(moving).mean()

for moving in movings:
    dataF[f'close_ma{moving}_ratio'] = \
        (dataF['f_close'] - dataF[f'f_close_ma{moving}']) / dataF[f'f_close_ma{moving}']
    dataF[f'vol_ma{moving}_ratio'] = \
        (dataF['f_vol'] - dataF[f'f_vol_ma{moving}']) / dataF[f'f_vol_ma{moving}']

In [6]:
dataF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30476 entries, 0 to 30475
Data columns (total 39 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   30476 non-null  object
 1   time                   30476 non-null  object
 2   f_open                 30476 non-null  float64
 3   f_high                 30476 non-null  float64
 4   f_low                  30476 non-null  float64
 5   f_close                30476 non-null  float64
 6   f_vol                  30476 non-null  float64
 7   k200_open              30476 non-null  float64
 8   k200_high              30476 non-null  float64
 9   k200_low               30476 non-null  float64
 10  k200_close             30476 non-null  float64
 11  k200_vol               30476 non-null  float64
 12  k_open                 30476 non-null  float64
 13  k_high                 30476 non-null  float64
 14  k_low                  30476 non-null  float64
 15  k_close                30476 non-null  float64
 16  k_vol                  30476 non-null  float64
 17  d_open                 30476 non-null  float64
 18  d_high                 30476 non-null  float64
 19  d_low                  30476 non-null  float64
 20  d_close                30476 non-null  float64
 21  d_vol                  30476 non-null  float64
 22  open_lastclose_ratio   30476 non-null  float64
 23  high_close_ratio       30476 non-null  float64
 24  low_close_ratio        30476 non-null  float64
 25  close_lastclose_ratio  30476 non-null  float64
 26  vol_lastvol_ratio      30476 non-null  float64
 27  f_close_ma5            30472 non-null  float64
 28  f_vol_ma5              30472 non-null  float64
 29  f_close_ma10           30467 non-null  float64
 30  f_vol_ma10             30467 non-null  float64
 31  f_close_ma20           30457 non-null  float64
 32  f_vol_ma20             30457 non-null  float64
 33  close_ma5_ratio        30472 non-null  float64
 34  vol_ma5_ratio          30472 non-null  float64
 35  close_ma10_ratio       30467 non-null  float64
 36  vol_ma10_ratio         30467 non-null  float64
 37  close_ma20_ratio       30457 non-null  float64
 38  vol_ma20_ratio         30457 non-null  float64
dtypes: float64(37), object(2)
memory usage: 9.1+ MB

In [38]:
chart_cols = ['date', 'time', 'f_open', 'f_high', 'f_low', 'f_close', 'f_vol']
train_cols = [
    'open_lastclose_ratio', 'high_close_ratio', 'low_close_ratio',
    'close_lastclose_ratio', 'vol_lastvol_ratio',
    'close_ma5_ratio', 'vol_ma5_ratio',
    'close_ma10_ratio', 'vol_ma10_ratio',
    'close_ma20_ratio', 'vol_ma20_ratio'
]

In [39]:
trainD = dataF[train_cols]
trainD.info()
trainD.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30476 entries, 0 to 30475
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   open_lastclose_ratio   30476 non-null  float64
 1   high_close_ratio       30476 non-null  float64
 2   low_close_ratio        30476 non-null  float64
 3   close_lastclose_ratio  30476 non-null  float64
 4   vol_lastvol_ratio      30476 non-null  float64
 5   close_ma5_ratio        30472 non-null  float64
 6   vol_ma5_ratio          30472 non-null  float64
 7   close_ma10_ratio       30467 non-null  float64
 8   vol_ma10_ratio         30467 non-null  float64
 9   close_ma20_ratio       30457 non-null  float64
 10  vol_ma20_ratio         30457 non-null  float64
dtypes: float64(11)
memory usage: 2.6 MB

,open_lastclose_ratio,high_close_ratio,low_close_ratio,close_lastclose_ratio,vol_lastvol_ratio,close_ma5_ratio,vol_ma5_ratio,close_ma10_ratio,vol_ma10_ratio,close_ma20_ratio,vol_ma20_ratio
0,0.000000,0.000000,-0.002241,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.000172,0.000172,-0.002751,0.002585,0.226965,NaN,NaN,NaN,NaN,NaN,NaN
2,0.000000,0.000688,-0.000688,-0.000172,-0.331585,NaN,NaN,NaN,NaN,NaN,NaN
3,0.000000,0.000172,-0.001031,0.001032,-0.233788,NaN,NaN,NaN,NaN,NaN,NaN
4,0.000172,0.001031,0.000000,-0.000344,0.419407,0.000791,-0.023585,NaN,NaN,NaN,NaN

In [41]:
chartD = dataF[chart_cols]
chartD.info()
chartD.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30476 entries, 0 to 30475
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     30476 non-null  object
 1   time     30476 non-null  object
 2   f_open   30476 non-null  float64
 3   f_high   30476 non-null  float64
 4   f_low    30476 non-null  float64
 5   f_close  30476 non-null  float64
 6   f_vol    30476 non-null  float64
dtypes: float64(5), object(2)
memory usage: 1.6+ MB

         date      time  f_open  f_high   f_low  f_close   f_vol
0  2020/07/17  09:00:00  289.65  290.10  289.45   290.10  2952.0
1  2020/07/17  09:01:00  290.05  290.90  290.05   290.85  3622.0
2  2020/07/17  09:02:00  290.85  291.00  290.60   290.80  2421.0
3  2020/07/17  09:03:00  290.80  291.15  290.80   291.10  1855.0
4  2020/07/17  09:04:00  291.15  291.30  291.00   291.00  2633.0